@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
}

@font-face {
  font-family: 'CABINETBOLD';
  src: url('../public/fonts/CabinetGrotesk-Extrabold.otf');
}
@font-face {
  font-family: 'CABINETMEDIUM';
  src: url('../public/fonts/CabinetGrotesk-Medium.otf');
}
@font-face {
  font-family: 'CABINETLIGHT';
  src: url('../public/fonts/CabinetGrotesk-Light.otf');
}
